.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.flexColStnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.btn {
  width: 192px;
  height: 64px;
}

.imageContainer {
  display: block;
  width: 25%;
}

.toggleContainer {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .imageContainer {
    width: 80%;
  }
}
